<% if @no_results_tag %>
<p>There are no posts matching the tag "<%= @no_results_tag %>"</p>
<% end %>


<div class="container">
  <h1>Welcome to Anonymous Blogger</h1>
  <a href="/show_all">Show all blog posts</a><br>
  <a href="/create_post">Create a new post</a>
</div>


